/* RESET CSS: */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & BODY: */
html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  min-height: 100%;
  overflow-x: hidden;
}   